<div class="row">
  <div class="col text-left">
    <h3>TimeLog</h3>
  </div>
  <div class="col text-right">
    <h3>
      {{#if session.isAuthenticated}}
        <a href="#" {{action "signOut" (action signOutCallback)}}>Sign Out</a>
      {{else}}
        {{link-to "Sign In" "login"}}
      {{/if}}
    </h3>
  </div>
</div>
