<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Minutes Spent</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  {{#each model as |log|}}
    <tr>
      <td>{{log.id}}</td>
      <td>{{moment-format log.date 'ddd MMM d YYYY'}}</td>
      <td>{{log.minutesSpent}}</td>
      <td>{{log.workDescription}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
